<app-header></app-header>
<div class="container">
  <div class="row py-10">
    <div class="col-12">
      Info and stuff
    </div>
  </div>
  <div class="row">
    <div class="col">
      selector
      <app-section-list [sections]="sections" [types]="types" (newSection)="addNewSection($event)"></app-section-list>
    </div>
    <div class="col">
      settings
    </div>
    <div class="col">
      YAML<br>
      add a toggle to to be completely verbose (insert all fields with default values)
    </div>
  </div>
</div>
