<app-header></app-header>
<div class="container">
  <div class="row py-10">
    <div class="col-12">
      Info and stuff
      <app-info></app-info>
    </div>
  </div>
  <div class="row">
    <div class="col">
      selector
      <app-selector></app-selector>
    </div>
    <div class="col">
      editor
      <app-editor></app-editor>
    </div>
    <div class="col">
      YAML<br>
      add a toggle to to be completely verbose (insert all fields with default values)
      <app-yaml></app-yaml>
    </div>
  </div>
</div>
